* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

.header {
  border-bottom: 10px solid hsl(0deg, 0%, 30%);
  margin-left: 128px;

}

.title {
  margin-top: 64px;
  margin-bottom: 48px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  background-color: hsl(0deg, 0%, 100%);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 32px 32px 32px;
}

.intro-chunk p {
  max-width: 350px;
}

section {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 60%);
  padding-top: 48px;
  padding-bottom: 48px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  padding: 8px 0 8px 48px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  margin-left: -48px;
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.card {
  max-width: 600px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 32px 32px 32px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

